@font-face {
    font-family: "Kanit";
    src: url(Kanit-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
}

.Apor, .Spokdjur, .Hundar {
    width: auto;
    height: 1200px;
}

.Apor {
    background-color: #396430;
}

.Spokdjur {
    background-color: #3A7210;
}

.Hundar {
    background-color: #1E5A0F;
}

h1 {
    font-family: "Kanit", serif;
    font-weight: normal;
    text-align: center;
    color: white;
    font-size: 128px;
    margin: 0;
}

.image-container, .image-container-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

.image-container {
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.image-container-2 {
    padding: 0 325px;
}

.image-container img, .image-container-2 img {
    margin: 0 10px;
}

.image-container img:first-child, .image-container-2 img:first-child {
    margin-left: 0;
}

.image-container img:last-child, .image-container-2 img:last-child {
    margin-right: 0;
}