body{
    background-color:#212121;
}

h1{
    font-family: "Roboto", sans-serif;
    font-size: 100px;
    color:#f1f1f1;
    text-align:center;
}

.container {
    display: flex;
    align-items: left;
    justify-content: center;
    gap: 15px;
    width: 70%;
    margin: 0 auto;
}

img {
    max-width: 450px;
    height: auto
}
p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #f1f1f1;
    margin-top: 0;
}

a{
    font-family: "Roboto", sans-serif;
    color: #f1f1f1;
    text-decoration: none;
}

a:hover{
    color:red;
}