nav {
    background-color: rgba(59, 54, 75, 0.481);
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 20px;
    color: white;
    font-family: "Nerko One";    
}

h2{
    color: white;
}

.Helga{
    border-image-width: auto;
    font-family: "Nerko One";    
    text-align: center;
    color: white;
    font-size: 20px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(35, 31, 44);
    text-align: center;
    background-image: url("bakgrund_hem.png");
    background-size: cover;
}

a:hover{
    color: rgb(228, 10, 10);
}

a{
    font-family: "Nerko One";    
    color: white;
    text-decoration: none;
    font-size: 25px;
}

img {
    transition: ease-in-out 5000ms;
    border-radius: 45%;
}
 
.animate {
    animation:  spin 10s ;
}
 
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(9000deg);
    }
}