nav {
    background-color: rgba(59, 54, 75, 0.481);
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 20px;
    color: white;
    font-family: "Nerko One";    
    text-align: center;
}

.Helga{
    border-image-width: auto;
    font-family: "Nerko One";    
    text-align: center;
    color: white;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(35, 31, 44);
    text-align: center;
}

a:hover{
    color: rgb(228, 10, 10);
}

a{
    font-family: "Nerko One";    
    color: white;
    text-decoration: none;
    font-size: 25px;
}