nav {
    background-color: rgb(44, 42, 53);
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 20px;
    color: white;
    font-family: "Nerko One";    
}

h2{
    font-family: "Nerko One";
    font-size: 30px;
    color: white;
}

.Helga{
    border-image-width: auto;
    font-family: "Nerko One";    
    text-align: center;
    color: white;
    font-size: 20px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(35, 31, 44);
    text-align: center;
    background-image: url("bakgrund_hem.png");
    background-size: cover;
}

a:hover{
    color: rgb(228, 10, 10);
}

a{
    font-family: "Nerko One";    
    color: white;
    text-decoration: none;
    font-size: 25px;
}

img {
    transition: ease-in-out 5000ms;
}
 
.animate {
    animation:  spin 10s ;
}
 
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(9000deg);
    }
}

.container {
    display: inline-block;
}

.container img {
    position: absolute;
    right:10%;
    top: 85%;
    width:400;
    height:400;
}

.navbar_nere{
    background-color: rgb(44, 42, 53);
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: auto;
    height: 50px;
}

.container_click {
    display: inline-block;
}

.container_click img {
    position: absolute;
    right:15%;
    top: 155%;
    width:400;
    height:400;
}