nav {
    background-color: rgba(59, 54, 75, 0.481);
    margin: 0;
    padding: 0;
    gap: 10px;
}

h1{
    margin: 10px;
    color: white;
    font-family: "Nerko One";
    text-align: center;
}

body{
    background-color: rgb(35, 31, 44);
    text-align: center;
    margin: 0px;
    padding: 0px;
}

a:hover{
    color: rgb(228, 10, 10);
}

a{
    font-family: "Nerko One";    
    color: white;
    text-decoration: none;
    font-size: 25px;
}