body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #61818E;
    color: #f0f0f0;
}

.cart {
    position: fixed;
    top: 10px;
    right: 10px;
}

.cart img {
    width: 50px;
    height: auto;
}

.right {
    right: 10px;
}

.Vin {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Vin img {
    width: 125px;
    height: 125px;
}

.Hoodie, .Keps, .Tshirt {
    background-color: #3a3a3a;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Hoodie img, .Keps img, .Tshirt img {
    width: 100%;
    border-radius: 10px;
}

.Hoodie h1, .Keps h1, .Tshirt h1 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #f0f0f0;
}

.Hoodie p, .Keps p, .Tshirt p {
    font-size: 1em;
    color: #cccccc;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-20px);
    top: 10%;
    left: 50%;
    transform: translate(-50%, -20px);
}

.popup.show {
    opacity: 1;
    transform: translate(-50%, 0);
    display: block;
}

.popup.hide {
    opacity: 0;
    transform: translate(-50%, -20px);
}

.popup-content {
    background-color: #4a4a4a;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;
    color: #f0f0f0;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}