*{
    font-family: "Kanit", serif;
    font-weight: normal;
}

body{
    margin: 0;
    padding: 0;
}

.Apor{
    background-color: aqua;
}

.Spokdjur{
    background-color: blue;
}

.Hundar{
    background-color: pink;
}